.members{
  padding: 50px;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.member{
  flex: 0 0 auto;
  margin-left: 20px;
  margin-right: 20px;
}
